header{
  background-color:#FACD3D;
  width: 1021004px;
text-align: center;
animation: pulse 5s infinite;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 600px; 
 /* position: absolute;  */
  margin-top: 30px;
  background-color: rgb(202, 231, 223,0.1);
  /* border: 2px solid black; */
}
header>h1:hover{
  color: #CAE7DF;
  cursor: pointer;
}
img{
  width: 100%;
  height: 400px;
  align-self: center;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #EE7879;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}
.buttons{
  display: flex;
  /* flex-direction: row;
  align-items: center;
  justify-content: space-between; */
}

.errorClass{
  color: red;
  background-color: #2A3166;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(238, 120, 121,0.5);
}

/* Caption text */
.text {
  color: #EE7879;
  font-size: 15px;
  /* padding: 8px 12px;
  position: absolute; */
  /* bottom: 8px; */
  width: 100%;
  text-align: center;
  /* background-color: rgba(115, 106, 241, 0.4); */
}
.title {
   color: #CAE7DF; 
  font-size: 30px;
  /* padding: 8px 12px;
  position: absolute; */
  /* top: 100px;
  /* width: 100%;  */
  text-align: center;
  background-color: rgba(115, 106, 241, 0.4);
}


.trending{
  padding-top: 30px;
  height: 400px;
  width: 100%;
  background-color: #CAE7DF;
  text-align: center;
  color: #EE7879;
  font-size: 50px;
}

/* Number text for image slider */
.numbertext {
  color: #EE7879;
  font-size: 12px;
  /* padding: 8px 12px; */
  /* position: absolute; */
  top: 0;
}


/* The dots on slider*/
.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color:  rgba(244, 171, 170, 0.2);
  border-radius: 50%;
  transition: background-color 0.6s ease;
}
.allDots {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: center;
  text-align: center;
}

.active, .dot:hover {
  background-color: #EE7879;;
}

/* Fading animation for dots and arrows */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* display color for links */
div> a{
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  flex-wrap: wrap;
  color: #EE7879
  /* background-color: rgba(202, 231, 223, 0.4) */
}

div>a:hover {
  color: #CAE7DF;}


body{
  font-family: 'Fjalla One', sans-serif;
  background-color: #2A3166;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  margin: 0 auto;
}

h1{
  
  color: #2A3166;
}
h2{
  color: #EE7879;
  align-items: center;
  text-align: center;
}

input {
  height: 25px;
  width: 140px;
  padding: 10px;
  margin:5px;
  text-align: center;
  color: #2A3166;
  background-color: #CAE7DF;
}


button {
  border: 1px solid #CAE7DF;
  background-color: #EE7879;
  padding: 5px;
  text-align: center;
  color: #2A3166;

}
form{
  padding-bottom:15px;
  text-align: center;

}

@keyframes pulse {
  0% {
    background-color: #EE7879;
  }
  100% {
    background-color: #F4ABAA;
  }
}


.trending > div > div>img{
  height: 150px;
  width: 150px;
  margin: 10px;
}

.trending > div > div{
  display: inline-block;
  text-align: center;
}

.trendingImage{
  width: 200px;
  height:250px;
  margin: 0px 30px;
  border: 1px solid #2A3166;
}

.Rome {
  font-size: 40px;
  margin:  0; 
  cursor: pointer;
}

.London {
  font-size: 40px;
  margin:  0;
  cursor: pointer;
}
.Paris {
  font-size: 40px;
  margin: 0;
  cursor: pointer;
}
.Paris:hover {
  color: #2A3166;
}

.Rome:hover {
  color: #2A3166;
}
.London:hover {
  color: #2A3166;
}
#getCity{
  cursor: pointer;
}

p{
  font-size: 15px;
  text-align: center;
  color: #EE7879;
  
}

span{
  text-decoration: underline;
  font-size: 20px;
  color:#CAE7DF
}
.city{
  font-size: 50px;
  text-decoration: none;
}